<h1>Client user: {{id}}</h1>
<input type="text" #inputUserId />
<button (click)="connectSocket(inputUserId.value)">Connect</button>
<h1>Socket ID {{dataUser | json}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">SocketID</th>
      <th scope="col">Online</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let leader of listLeader; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td><ngb-highlight [result]="leader.id"></ngb-highlight></td>
      <td><ngb-highlight [result]="leader.socketId"></ngb-highlight></td>
      <td><ngb-highlight [result]="leader.online"></ngb-highlight></td>
      <td><button (click)="joinRoom(leader)">Join Room</button></td>
    </tr>
  </tbody>
</table>
<h2>Room</h2>
<div class="thong-ke" style="display: flex; justify-content: flex-start;">
  <div style="margin-right: 40px;">
    BUY={{tongBUY}}
  </div>
  <div style="width: auto;">
    SELL={{tongSELL}}
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">SocketID</th>
      <th scope="col">Online</th>
    </tr>
  </thead>
  <tbody>
    <tr #table *ngFor="let leader of listOrder; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td [innerHTML]="leader[0]"></td>
      <td [innerHTML]="leader[1]"></td>
      <td [innerHTML]="leader[2]"></td>
      <td [innerHTML]="leader[3]"></td>
    </tr>
  </tbody>
</table>
